.swiper-slide
  .index-page-content
    .jumbotron
      .container
        .row
          .col
            img.mx-auto.img-fluid.index-image(src='gfx/logo_header.png')
    .index-list-container
      ul.list-group.index-link-container
        each link in links
          case link.type
            when 'LINK'
              li.content-link.index-link.list-group-item.list-link(data-level=link.level, data-id=link.id)
                i.link-icon(class=link.icon)
                != link.name
            when 'PAGE'
              li.content-page.index-link.list-group-item.list-link(data-level=link.level, data-id=link.id,data-content=link.content)
                i.link-icon(class=link.icon)
                != link.name
        

          
